<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  
  
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>ThirdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>calculate</servlet-name>
    <servlet-class>CalculatorServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>

</web-app>
